.header__logo {
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 879px) {
  .header__logo {
    margin: 27px 0 0 37px;
  }
}

@media screen and (max-width: 680px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin: 27px 0 0;
  }
}
