.login__input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  background-color: #000;
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 2px solid #CCCCCC;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.login__input:focus {
  outline: none;
}
