.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-image: url('../../../images/pencil.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  background-size: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #FFF;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-size: 7.5px 7.5px;
  }
}
