.login__bottom-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}

.login__bottom-text:hover {
  opacity: 0.6;
}
