.login__input-error {
  min-height: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F00;
  margin-top: -25px;
  opacity: 0;
}
